@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

// media
$ipad: 812px;

//colors
$green: rgb(74, 246, 38);

* {
    background: black;
    color: green;
    font-family: "Inconsolata", monospace;
}

body {
    .wrapper {
        @media (min-width: $ipad) {
            padding: 5vh 15vw;
        }
    }
    nav {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .title {
        height: 100vh;
        display: flex;
        white-space: pre;
        text-align: center;
        max-width: 100%;
        overflow: scroll;
        background: transparent;
        > div {
            color: white;

            align-self: center;
            > span {
                // letters
                color: white;
            }
        }
    }

    .refs,
    .footnotes {
        display: flex;
        flex-wrap: wrap;
        span {
            padding: 6px 0 3px 0;
        }
    }
}
